@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AvenirNext";
  src: url("./fonts/avenirNext/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.tab {
  cursor: pointer;
  opacity: 0.6;
}

.tab.active {
  opacity: 1;
  border-bottom: 1px solid #D7182A;
  padding-bottom: 1px;
}

.section {
  display: none;
}

.section.active {
  display: flex;
}
